<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

</head>
<body>
    <header>
        <img src="/img/logo-mercado-liebre.svg" alt="logo de mercaliebre">
        <p>lugar para poner barra de busqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
            <nav>
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li><a href="">Creá tu cuenta</a></li>
                    <li><a href="">Ingresá</a></li>
                    <li><a href="">Mis compras</a></li>
                </ul>
            </nav>
            <nav><img src="/img/img-home-banner.jpg" alt=""></nav>
    </header>
    <main>
        <section>
            <h2>Sección: Basado en tu última visita</h2>
            
            <div>
            <img src="/img/img-cafetera-moulinex.jpg" alt="unaCafetera">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
            </div>
            
            <div>
            <img src="/img/img-macbook-pro-2019.jpg" alt="">
            <p>$230.000</p>
            <p>20% off</p>
            <p>MacBook Pro 2019</p>
            </div> 
            
            <div>
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
            <p>$70.500</p>
            <p>10% off</p>
            <p>Samsung Galaxy S10</p>
            </div>
            
            <div>
            <img src="/img/img-tv-samsung-smart.jpg" alt="">
            <p>$23.200</p>
            <p>5% off</p>
            <p>SmartTv Samsung 43"</p>
            </div>
            </section>
            
            <section>
            <h3>Sección: Basado en tu última visita</h3>
            <div>
            <img src="/img/img-cafetera-moulinex.jpg" alt="unaCafetera">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
            </div>
            
            <div>
            <img src="/img/img-macbook-pro-2019.jpg" alt="">
            <p>$230.000</p>
            <p>20% off</p>
            <p>MacBook Pro 2019</p>
            </div>
            
            <div>
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
            <p>$70.500</p>
            <p>10% off</p>
            <p>Samsung Galaxy S10</p>
            </div>
            
            <div>
            <img src="/img/img-tv-samsung-smart.jpg" alt="">
            <p>$23.200</p>
            <p>5% off</p>
            <p>SmartTv Samsung 43"</p>
            </div>
            </section>
            </main>
    
    <footer>
        <div>
            <b>Pagá con tarjeta o en efectivo</b>
            <p>Con Mercado Liebre Cash, tenés cuotas sin <br>interés con tarjeta o efectivo en
                puntos de <br> pago. ¡Y siempre es seguro!</p>
            </div>
        <div>
            <b>Envío gratis desde $ 2.500</b>
            <p>Solo por estar registrad@ en Mercado Liebre <br>tenés envíos gratis en miles de
                productos. Es <br>un beneficio de Mercado Puntos.</p>
            </div>
        <div>
            <b>Seguridad, de principio a fin</b>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,z <br> no hay nada que no puedas hacer,
                porque estás <br>siempre protegid@.</p>
            </div>
        
            <b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b>
             
    </footer>
</body>
</html>