<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERCADO LIEBRE</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/18ef03eb70.js" crossorigin="anonymous"></script>
    
</head>
<body class="home">
    <header class="header">
        <div class="header__logobusqueda">
            <a  class="header-logo" href="/"><img src="/img/logo-mercado-liebre.svg" alt="logo de mercaliebre"></a>

        <div class="busqueda"><input type="text" placeholder="Buscar Productos, marcas" class="header-busqueda">
        <span><i class="fa-solid fa-magnifying-glass"></i></span></div>


        <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            <nav class="header__navegacion">
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </nav>
            <nav class="header__navegacion">
                <ul>
                    <li><a href="./register">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
                    <li><a href="./login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav></div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div>
                
            
            
    </header>
        <main class="form__main">
        <form action="" class="form">
        <div class="form__div">
        <div>
            <label for="user"></label>
            <input class="form__div__escribir"  id="user" type="text" placeholder="Nombre de usuario" name="user">
        </div>
        <div>
            <label for="password"></label>
            <input class="form__div__escribir"  type="password" name="password" id="password" placeholder="Contraseña">
        </div>
    </div>
    <div class="form__boton">
        <div>
        <a href="/" class="form__boton__subir" type="submit">Subir</a>
    </div>

</div>

        </form>
        </main>
        
    
    
        <footer class="home__footer">
            <div>
                <div><i class="fa-solid fa-credit-card" ></i></div>
                <h3 class="home__footer__titulos">Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin <br>interés con tarjeta o efectivo en
                    puntos de <br> pago. ¡Y siempre es seguro!</p>
                </div>  
            <div>
                <div><i class="fa-solid fa-gift" ></i></div>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre <br>tenés envíos gratis en miles de
                    productos. Es <br>un beneficio de Mercado Puntos.</p>
                </div>
            <div>
                <div><i class="fa-solid fa-user-shield" ></i></div>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre,z <br> no hay nada que no puedas hacer,
                    porque estás <br>siempre protegid@.</p>
                </div>
                
                <h3 class="home__footer--copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
                 
        </footer>
    </body>
    </html>