.home__footer{
    background-color: white;
    margin-top: 5%;
    text-align: center;
    
}
.home__footer i{
    color: var(--celeste);
    font-size: 2em;
    margin-bottom: 5px;
}
@media (min-width:1023px) {
    .home__footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between
    }
    .home__footer--copyright{
       width: 100%;
       padding-top: 20px;
    }
}