.home__header{
    display: flex;
    flex-direction: column;
    background-color: var(--Amarillo);  
}

.home__header__logo img{
    width: 50%;
    padding-left: 7%;
    padding-top: 5%;
}
.home__header__busqueda input{
    width: 60%;
    margin: 20px; 
}
header p{
    text-align: center;
}
.home__header nav{
    padding-top: 20px;
    display: none;
}
.home__header nav a{
    color: black;
    
}
.burger-menu{

    border: 1px solid var(--Celeste);
    padding: 5px;
    border-radius: 4px;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 44% 0 44%; 
    background-color: var(--Celeste);
    color: white;
}
