/*HEADER*/
/*logo*/
.home__header__logo img{
    padding: 7% 50% 2% 5%;
    
}

/*************/

.home__header__busqueda{
    padding-left: 5%;
}
.home__header p{
    padding-left: 13%;
}
.home__header__lupa{
    background-color: aliceblue;
    margin-left: 5%;
    margin-right: 90%;
    padding: 2px;
    border:solid 1.5px var(--Grisoscuro);
    

}
.home__header__burger-menu{
    text-align: center;
    color: white;
    background-color: blue;
    margin: 0 46%;
}
.home__header ul{
    padding-left: 0;
}



/*MAIN*/
.home__main__banner img{
    width: 100%;
    padding: 0;
    margin: 0;
}
.home__main__section h2{
    font-size: 24px;
}
.home__main__section img{
    padding: 0;
    margin: 0;
    width: 100%;
}
.home__main__section--precio{
    font-size: 18px;
}
.home__main__section p{
    font-size: 16px;
}
/*FOOTER*/
.home__footer{
    text-align: center;
}
.home__footer i{
    color: var(--Celeste);
}
.home__footer h3, .home__footer p{
    color:var(--Grisoscuro)
}



